/**start			header				**/
#header {
	height:68px;
	width:1000px;
	margin:0 auto;
}

/**start		wrapper			**/
#wrapper{
	width:1000px;
	margin:10px auto 0;
	overflow:hidden;
}

/**end		footer			**/
#footer{
	width:1000px;
	margin:10px auto 80px;
}


.iframepage{
	width:730px;
	margin-left:40px;
}