<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
 <servlet-name>login</servlet-name>
    <servlet-class>com.job.enter.Login</servlet-class>
  </servlet>
  <servlet>
 <servlet-name>modifyPwd</servlet-name>
    <servlet-class>com.job.enter.ModifyPwd</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>fabu</servlet-name>
    <servlet-class>com.job.enter.Fabu</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>enterData</servlet-name>
  <servlet-class>com.job.enter.EnterData</servlet-class>
  </servlet>
  <servlet-mapping>  
    <servlet-name>login</servlet-name>
    <url-pattern>/views/enter/enterlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
    <servlet-name>modifyPwd</servlet-name>
    <url-pattern>/views/enter/modify_password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>enterData</servlet-name>
      <url-pattern>/views/enter/enterData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>  
    <servlet-name>fabu</servlet-name>
    <url-pattern>/views/enter/fabu</url-pattern>
  </servlet-mapping>

<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personMsgDo</servlet-name>
    <servlet-class>com.job.person.personMsgDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personBasicInfoDo</servlet-name>
    <servlet-class>com.job.person.personBasicInfoDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personCertDo</servlet-name>
    <servlet-class>com.job.person.personCertDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personLoginDo</servlet-name>
    <servlet-class>com.job.person.personLoginDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personJobRecommendDo</servlet-name>
    <servlet-class>com.job.person.personJobRecommendDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personExpDo</servlet-name>
    <servlet-class>com.job.person.personExpDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personChangePwdDo</servlet-name>
    <servlet-class>com.job.person.personChangePwdDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personHistoryDo</servlet-name>
    <servlet-class>com.job.person.personHistoryDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>personJobDo</servlet-name>
    <servlet-class>com.job.person.personJobDo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>personMsgDo</servlet-name>
    <url-pattern>/views/person/personMsgDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personBasicInfoDo</servlet-name>
    <url-pattern>/views/person/personBasicInfoDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personCertDo</servlet-name>
    <url-pattern>/views/person/personCertDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personLoginDo</servlet-name>
    <url-pattern>/views/person/personLoginDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personJobRecommendDo</servlet-name>
    <url-pattern>/views/person/personJobRecommendDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personExpDo</servlet-name>
    <url-pattern>/views/person/personExpDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personChangePwdDo</servlet-name>
    <url-pattern>/views/person/personChangePwdDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personHistoryDo</servlet-name>
    <url-pattern>/views/person/personHistoryDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personJobDo</servlet-name>
    <url-pattern>/views/person/personJobDo</url-pattern>
  </servlet-mapping>
  
  <filter> 
    <filter-name>loggerfilter</filter-name> 
    <filter-class>com.job.enter.MyFilter</filter-class> 
</filter> 
<filter-mapping> 
    <filter-name>loggerfilter</filter-name> 
    <url-pattern>/views/enter/*</url-pattern> 
</filter-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
